.achievements-container {
    position: fixed;
    bottom: 1em;
    right: 1em;

    opacity: 0;
    pointer-events: none;
    transition: 150ms all ease-in;
    cursor: pointer;
}
.achievements-container.open {
    opacity: 1;
    pointer-events: auto;
    transition: all 50ms ease-out;
}

.achievement {
    width: 20em;
    height: 5em;
    padding: 0.5em;
    border: 1px solid var(--main-color);
    background-color: var(--secondary-color) !important;
    box-shadow: 0em 0em 1em 1em var(--secondary-color);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}
.achievement-dialog .achievement {
    box-shadow: none;
    display: inline-flex;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}

.achievement-icon {
    margin-right: 0.5em;
    width: 6em;
}

.achievement-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}

.achievement-title {
    font-size: 130%;
    margin: 0;
    line-height: 1;
}

.achievement-text {
    font-size: 90%;
    margin: 0;
    line-height: 1;
}

.achievement-dialog {
    width: 44em;
}