.intro {
  position: absolute;
  top: 0;
  bottom: 0;
}
.intro-title {
    padding-top: 0em;
    margin-top: 0;
    text-align: center;
}
@media (max-width: 800px) {
    .intro-title {
        font-size: 90%;
        margin-left: -32px;
    }
}
.intro-title a {
    display: inline-block;
    line-height: 0;
    font-size: 0;
    width: 630px;
    height: 385px;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .intro-title a {
        width: 320px;
        height: 200px;
    }
}

html[lang="ru"] .intro-title a {
    background-image: url('./img/title-night.png');
}
html[lang="en"] .intro-title a {
    background-image: url('./img/title-night-en.png');
}
html[lang="ru"].daymode .intro-title a {
    background-image: url('./img/title-day.png');
}
html[lang="en"].daymode .intro-title a {
    background-image: url('./img/title-day-en.png');
}

html.supports-webp[lang="ru"] .intro-title a {
    background-image: url('./img/title-night.webp');
}
html.supports-webp[lang="en"] .intro-title a {
    background-image: url('./img/title-night-en.webp');
}
html.supports-webp[lang="ru"].daymode .intro-title a {
    background-image: url('./img/title-day.webp');
}
html.supports-webp[lang="en"].daymode .intro-title a {
    background-image: url('./img/title-day-en.webp');
}

html.supports-avif[lang="ru"] .intro-title a {
    background-image: url('./img/title-night.avif');
}
html.supports-avif[lang="en"] .intro-title a {
    background-image: url('./img/title-night-en.avif');
}
html.supports-avif[lang="ru"].daymode .intro-title a {
    background-image: url('./img/title-day.avif');
}
html.supports-avif[lang="en"].daymode .intro-title a {
    background-image: url('./img/title-day-en.avif');
}

.intro-title a:hover,
.intro-title a:focus {
    border-bottom: 0 none;
}
.intro-epigraph {
    text-align: right;
    margin: 2em 0;
    min-height: 4em;
}
.intro-settings {
    position: absolute;
    bottom: 3em;
    font-size: 90%;
}
@media (max-height: 750px) {
    .intro-settings {
	    position: relative;
        bottom: 1em;
    }
}

.intro-resume {
    text-align: center;
    font-size: 120%;
}