@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i&subset=cyrillic');
body {
    font-family: 'PT Serif', serif;
    text-rendering: optimizeLegibility;
}

/* make link underline look like interactive elements underline */
a {
    text-decoration: none;
    transition: color 0.2s;
    transition: text-decoration 0s;
    border-bottom: 1px solid transparent;
}
a:hover,
a:focus {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

.passage {
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
}


html.location-desert, 
html.location-desert-bad {
    --main-color: hsl(25, 63%, 83%);
    --secondary-color: hsl(24, 15%, 23%);
    --interactive-color: hsl(231, 78%, 69%);
    --interactive-color2: hsl(231, 80%, 60%);
    --border-color: hsl(23, 15%, 10%);
    --accent-color: hsl(25, 78%, 69%);
    --bg-url: url('./img/bg/bg-desert-night.jpg');
    --fg-url: url('./img/bg/fg-desert-night.png');
}
html.supports-webp.location-desert, 
html.supports-webp.location-desert-bad {
    --bg-url: url('./img/bg/bg-desert-night.webp');
    --fg-url: url('./img/bg/fg-desert-night.webp');
}

html.location-desert.daymode,
html.location-desert-bad.daymode {
    --main-color: hsl(24, 15%, 23%);
    --secondary-color: hsl(39, 54%, 71%);
    --interactive-color: hsl(231, 80%, 60%);
    --interactive-color2: hsl(231, 78%, 69%);
    --bg-url: url('./img/bg/bg-desert-day.jpg');
    --fg-url: url('./img/bg/fg-desert-day.png');
}
html.supports-webp.location-desert.daymode,
html.supports-webp.location-desert-bad.daymode {
    --bg-url: url('./img/bg/bg-desert-day.webp');
    --fg-url: url('./img/bg/fg-desert-day.webp');
}

html.location-city {
    --main-color: hsl(25, 0%, 83%);
    --secondary-color: hsl(24, 0%, 23%);
    --interactive-color: hsl(231, 78%, 69%);
    --interactive-color2: hsl(231, 80%, 60%);
    --border-color: hsl(23, 0%, 10%);
    --accent-color: hsl(25, 28%, 69%);
    --bg-url: url('./img/bg/bg-city-night.jpg');
    --fg-url: url('./img/bg/fg-city-night.png');
}
html.supports-webp.location-city {
    --bg-url: url('./img/bg/bg-city-night.webp');
    --fg-url: url('./img/bg/fg-city-night.webp');
}

html.location-city.daymode {
    --main-color: hsl(24, 0%, 23%);
    --secondary-color: hsl(25, 0%, 83%);
    --interactive-color: hsl(231, 80%, 60%);
    --interactive-color2: hsl(231, 78%, 69%);
    --bg-url: url('./img/bg/bg-city-day.jpg');
    --fg-url: url('./img/bg/fg-city-day.png');
}
html.supports-webp.location-city.daymode {
    --bg-url: url('./img/bg/bg-city-day.webp');
    --fg-url: url('./img/bg/fg-city-day.webp');
}

html.location-sea,
html.location-sea-bad {
    --main-color: hsl(180, 20%, 76%);
    --secondary-color: hsl(213, 22%, 20%);
    --interactive-color: hsl(240, 75%, 69%);
    --interactive-color2: hsl(240, 80%, 60%);
    --border-color: hsl(23, 15%, 10%);
    --accent-color: hsl(160, 77%, 69%);
    --bg-url: url('./img/bg/bg-sea-night.jpg');
    --fg-url: url('./img/bg/fg-sea-night.png');
}
html.supports-webp.location-sea,
html.supports-webp.location-sea-bad {
    --bg-url: url('./img/bg/bg-sea-night.webp');
    --fg-url: url('./img/bg/fg-sea-night.webp');
}

html.location-sea.daymode,
html.location-sea-bad.daymode {
    --main-color: hsl(213, 22%, 20%);
    --secondary-color: hsl(180, 20%, 76%);
    --interactive-color: hsl(240, 75%, 69%);
    --interactive-color2: hsl(240, 80%, 60%);
    --accent-color: hsl(160, 77%, 30%);
    --bg-url: url('./img/bg/bg-sea-day.jpg');
    --fg-url: url('./img/bg/fg-sea-day.png');
}
html.supports-webp.location-sea.daymode,
html.supports-webp.location-sea-bad.daymode {
    --bg-url: url('./img/bg/bg-sea-day.webp');
    --fg-url: url('./img/bg/fg-sea-day.webp');
}

html.location-desert #passages,
html.location-desert-bad #passages {
    margin-bottom: 200px;
}
html.location-city #passages {
    margin-bottom: 240px;
}
html.location-sea #passages,
html.location-sea-bad #passages {
    margin-bottom: 230px;
}

#passages {
    font-size: 120%; /* increase overall font-size a bit */
}

/* FF suddenly acts all weird */
html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#story {
    margin-top: 0;
    padding-top: 2.5em;
}
#ui-bar-body {
    margin-bottom: 0;
}

body {
    flex-grow: 2;
    min-height: 100%;
    color: var(--main-color);
    background-color: var(--secondary-color);
    background-image: var(--fg-url), var(--bg-url);
    background-position: center bottom, top center;
    background-repeat: no-repeat;
    background-size: contain, auto;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar:hover {
    width: 20px;
}

body::-webkit-scrollbar-track {
    border: 0 none;
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    opacity: 0.7;
    border-radius: 2px;
}

[data-tags*="no-fg"] body {
    background-image: var(--bg-url);
    background-position: top center;
    background-size: auto;
}

a {
    color: var(--interactive-color);
}
a:hover {
    color: var(--interactive-color);
}
span.link-disabled {
    opacity: 0.6;
}
button {
    color: var(--interactive-color);
    background: none;
    border: 1px solid var(--border-color);
}
button:hover {
    background: none;
    border: 1px solid var(--interactive-color);
}
button:disabled {
    opacity: 0.6;
}
input,
select,
textarea {
    color: var(--main-color);
    border-color: var(--border-color);
}
input:focus,
select:focus,
textarea:focus,
input:hover,
select:hover,
textarea:hover {
    background-color: var(--secondary-color);
    border-color: var(--main-color);
}
hr {
    border-color: var(--main-color);
}

.error {
    background-color: #eaa;
    border-left-color: #d77;
}

#ui-bar {
    background-color: var(--secondary-color);
    border-right: 1px solid transparent;
}
#ui-bar:not(.stowed) {
    box-shadow: 1em 0em 3em 0.5em var(--secondary-color);
}
#ui-bar.stowed {
    border-color: transparent;
    background-color: transparent;
}
#ui-bar #ui-bar-toggle {
    border: 1px solid var(--main-color);
}

#ui-bar hr {
    border-color: var(--border-color);
}
#ui-bar-toggle,
#ui-bar-history [id|="history"] {
    color: var(--main-color);
    border-color: var(--border-color);
}
#ui-bar-toggle:hover,
#ui-bar-history [id|="history"]:hover {
    background-color: var(--border-color);
    border-color: var(--main-color);
}
#ui-bar-history [id|="history"]:disabled {
    color: var(--border-color);
    background-color: transparent;
    border-color: var(--border-color);
}
#menu ul {
    border-color: var(--border-color);
}
#menu li:not(:first-child) {
    border-top-color: var(--border-color);
}
#menu li a {
    color: var(--main-color);
}
#menu li a:hover {
    background-color: transparent;
    border-color: var(--main-color);
}

/* Default dialog styling */
#ui-overlay {
    background-color: #777;
}
#ui-dialog-titlebar {
    color: var(--accent-color);
    background-color: var(--border-color);
}
#ui-dialog-close {
    color: var(--secondary-color);
    border: 0 none;
}
#ui-dialog-close:hover {
    color: var(--border-color);
    background-color: #b44;
    border: 0 none;
}
#ui-dialog-body {
    border-color: var(--border-color);
    background-color: var(--secondary-color);
}
#ui-dialog-body hr {
    background-color: var(--border-color);
}

/* List-based dialog styling */
#ui-dialog-body.list li:not(:first-child) {
    border-top-color: var(--border-color);
}
#ui-dialog-body.list li a {
    color: var(--main-color);
}
#ui-dialog-body.list li a:hover {
    background-color: var(--border-color);
    border-color: var(--main-color);
}

/* Saves dialog styling */
#ui-dialog-body.saves > *:not(:first-child),
#ui-dialog-body.saves tr:not(:first-child) {
    border-top-color: var(--border-color);
}
#ui-dialog-body.saves .empty {
    color: #777;
}

/* Settings dialog styling */
#ui-dialog-body.settings button[id|="setting-control"] {
    color: var(--main-color);
    border-color: var(--border-color);
}
#ui-dialog-body.settings button[id|="setting-control"]:hover {
    background-color: #eee;
    border-color: var(--main-color);
}
#ui-dialog-body.settings button[id|="setting-control"].enabled {
    background-color: #9e9;
    border-color: #7c7;
}
#ui-dialog-body.settings button[id|="setting-control"].enabled:hover {
    background-color: #7c7;
    border-color: #5a5;
}

/* Debug view styling */
html:not(.debug-view) #debug-view-toggle {
    color: var(--main-color);
    border-color: var(--border-color);
}
html:not(.debug-view) #debug-view-toggle:hover {
    background-color: #eee;
    border-color: var(--main-color);
}
html.debug-view #debug-view-toggle {
    background-color: #9e9;
    border-color: #7c7;
}
html.debug-view #debug-view-toggle:hover {
    background-color: #7c7;
    border-color: #5a5;
}
html.debug-view .debug {
    background-color: #dc9;
}
html.debug-view .debug.hidden,
html.debug-view .debug.hidden .debug {
    background-color: #bbb;
}

#menu-core li[id|=menu-item] a:before,
#ui-bar-history [id|=history],
#ui-bar-toggle:before {
    color: var(--accent-color);
}

.daymode #menu-core li[id|=menu-item] a:before,
.daymode #ui-bar-history [id|=history],
.daymode #ui-bar-toggle:before {
    color: var(--primary-color);
}


/* Style menu item to have "moon" icon */
#menu-core #menu-item-skin a::before {
    content: '\e800\00a0';
}
.daymode #menu-core #menu-item-skin a::before {
    content: '\e801\00a0';
}


.moremacro {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 0px 0.5em 0.5em var(--secondary-color) !important;
}

#story-title {
    display: none;
}
#story-subtitle {
    margin-top: 2em;
}


.theEnd {
    text-align: center;
    font-size: 150%;
}